* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
    /* color: white; */
}

h1 {
    text-align: center;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    padding: 50px 0px;
    /* font-weight: bold; */
}

h2{
    padding: 30px 0px;
    font-size: 40px;
    font-weight: bold;
}

p {
   text-align: center;
   padding: 0px 200px;
   padding: 0px 40% 30px 40%;
}

.about-btn {
   padding: 20px 35px;
   border: none;
   background-color: orangered;
   color: white;
   font-weight: bold;
   border-radius: 30px;
   font-size: 15px;
}